.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-color); 
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
}

.fileInput {
  margin-bottom: 20px;
  color: #fff; 
  border: 2px solid var(--main-color); 
  padding: 10px;
  border-radius: 5px;
  background-color: var(--dark-color);
  transition: border-color 0.3s ease;
}

.fileInput:hover {
  border-color: var(--sec-color); 
}

.checkboxLabel {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--sec-color);
}

.checkbox {
  margin-left: 10px;
}

.submitDiv{
  margin-top: 20px;
  text-align: center;
}

.submitButton {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
}

.submitButton:hover {
  background-color: var(--sec-color);
}

.response {
  margin-top: 20px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

/* Responsive media queries */
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}