footer {
    background-color: var(--blacker-color); /* Dark background color */
    color: var(--sec-color); /* Background color for text */
    padding: 20px 0;
    padding-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    font-size: 1.36rem;
}

.footer-content {
    max-width: 300px;
    margin-bottom: 20px;
}

h3 {
    color: var(--sec-color); /* Background color for text */
}

p {
    margin: 5px 0;
}

#footerLogo {
    cursor: pointer;
}

#contactUSFooter {
    text-align: center;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

#followUs {
    width: 30%;
}

#iconsContainer {
    display: flex;
    justify-content: space-between;
}

.iconspan {
    font-size: 20px;
}

#hema {
    text-align: center;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .footer-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 375px) {
    footer {
        padding-top: 30px;
    }
}