.hero {
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blacker-color);
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--sec-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}

  .hero p, .hero h1 {
    color: var(--sec-color);
  }
  
  .heroContent {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: var(--sec-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-size: 1rem;
    text-align: center;
  }
  
  .heroTitle {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    color: var(--sec-color);
    text-align: center;
  }
  
  .heroSubtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
